<%- include ("layouts/header")%>
    <h5>Location:
        <strong>
         <%=city%>
        </strong>
        </h5>
    <h5>The temperature at your location is:
    <strong>
        <%=temp%>°C
    </strong>
    </h5>
    
    <h5>Possible Weather: 
    <strong>
        <%=weather%>
    </strong>
    </h5>
    <br>

<%- include ("layouts/footer")%>